<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="post_container">
      <div class="post_header">
        <h1><%= @post.title %> by <%= @post.author.name %></h1>
        <p class="comments_counter">Comments <%= @post.comments_counter %>, Likes <%= @post.likes_counter %></p>
      </div>
      <div class="post_text">
        <p><%= @post.text %></p>
      </div>
    </div>
    <div class="comments_container">
        <% @comments.each do |comment| %>
          <%= render "partials/comment_card", comment: comment %>
        <% end %>
    </div>
    <%= render 'partials/back_button'%>
  </body>
</html>