<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <nav>
       <ul>
         <li>
           <p> <%= link_to "Logo", root_path %></p>
           <% if user_signed_in? %>
           <%= link_to 'Home', users_path%>
           <%else%>
           <%= link_to 'LogIn', new_user_session_path %>
           <%end%>
         </li>
       </ul>
     </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
